@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
    min-height: 100vh;
    width: 100%;
}

main{
    min-height: 100vh;
    width: 100%;
}

aside{
    min-height: 100vh;
    width: 80%;
}

aside.left{
    translate: -100%;
    animation: all 5s ease-in-out;

}

aside.left:target{

    translate: 0%;


}


/* 
@media (max-width:500px) {
    .main {
        max-width: 500px;
        height: 100vh;
        object-fit: cover;
        display: relative;
        padding: 2rem;
        position: relative;
        border-radius: 1rem;
        @apply bg-light;


    }

    .main::before {
        content: "";
        position: absolute;
        background-image: url("/phone_frame.svg");
        background-size: cover;
        background-repeat: no-repeat;
        inset: -1rem;
    
    }
} */